<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Tools" alt=""></td>
        <td><a href="{{site.baseurl}}/">Home</a></td>
        <td><a href="{{site.baseurl}}/snake">Snake</a></td>
        <td><a href="{{site.baseurl}}/rpgv0.1">RPG</a></td>
        <td><a href="{{site.baseurl}}/ideation">Ideation</a></td>
        <td><a href="{{site.baseurl}}/hacks">Hacks</a></td>
        <td><a href="{{site.baseurl}}/_notebooks/sprint-6/blogs">Sprint 6 Blog</a></td>
        <td><a href="{{site.baseurl}}/_notebooks/2024-10-25-variable.html">Variables Project</a></td>
        <td><a href="{{site.baseurl}}/flashcards">Flashcards</a></td>
    </tr>
</table>
